<div id="poke" class="container texte-center">
    <h3> Pokemons</h3>
    <div class="col-sm-4">
        <p class="text-center" style="color: blue"><strong>Bulbasaur</strong></p>
        <a href="pokemon-detail.html" data-toggle="collapse">
            <img src="./src/assets/1.png">
        </a>
    </div>
    <div class="col-sm-4">
        <p class="text-center" style="color: blue"><strong>Ivysaur</strong></p>
        <a href="pokemon-detail.html" data-toggle="collapse">
            <img src="./src/assets/2.png">
        </a>
    </div>
    <div class="col-sm-4">
        <p class="text-center" style="color: blue"><strong>Venusaur</strong></p>
        <a href="pokemon-detail.html" data-toggle="collapse">
            <img src="./src/assets/3.png">
        </a>
    </div>
    <div class="col-sm-4">
        <p class="text-center" style="color: blue"><strong>Charmander</strong></p>
        <a href="pokemon-detail.html" data-toggle="collapse">
            <img src="./src/assets/4.png">
        </a>
    </div>
    <div class="col-sm-4">
        <p class="text-center" style="color: blue"><strong>Charmeleon</strong></p>
        <a href="pokemon-detail.html" data-toggle="collapse">
            <img src="./src/assets/5.png">
        </a>
    </div>
    <div class="col-sm-4">
        <p class="text-center" style="color: blue"><strong>Charizard</strong></p>
        <a href="pokemon-detail.html" data-toggle="collapse">
            <img src="./src/assets/6.png">
        </a>
    </div>
</div>